* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: grey;
}
.d-none-dt {
  display: none;
}
.logo , .main-nav , .second-nav , .aside-bottom {
  margin-left: 20px;
}

.wrapper {
  height: 100vh;
  background-color: black;
}

main {
  height: calc(100% - 80px);
  display: flex;
}

aside {
  background-color: black;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: grey;
}

footer {
  background-color: red;
  height: 80px;
  z-index: 1;
}

.main-content {
  background-color: #141922;
  height: 100%;
  width: calc(100% - 300px);
  overflow-y: auto;
}

.upgrade {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: calc(100% - 300px);
  padding: 20px;
  background-color: rgba(0,0,0,0.7);
}

.btn {
  padding: 20px;
}

.logo {
  background-color: black;
  height: 80px;
  line-height: 80px;
  margin-bottom: 20px;
}
.main-nav {
  background-color: black;
}
.second-nav {
  background-color: black;
  overflow: hidden;
}
.aside-bottom {
  background-color: black;
  margin-top: auto;
  flex-shrink: 0;
  height: 80px;
}
.playlist {
 overflow-y: auto;
 height: calc(100% - 50px);
}
.title-playlist {
  height: 50px;
}

.logo img {
  width: 130px;
  height: auto;
  vertical-align: middle;
}
/* MAIN NAV */
.main-nav li a {
  font-size: 17px;
  padding: 10px;
  color: grey;
}
.main-nav li:hover a{
  border-left: 2px solid #ADFF2F;
  color: white;
}

.main-nav li {
margin-bottom: 10px;
list-style: none;
}

aside h3 {
  margin: 10px 0;
  color: white;
}

/* SECOND NAV */
.title-playlist i{
  color: black;
  background-color: #6C6C6C;
  padding: 10px;
  margin-right: 10px;
}
.playlist li{
  margin-top: 20px;
}
.playlist li:hover a{
  color: white;
}
.title-playlist:hover i{
  background-color: white;
}
.title-playlist:hover a{
  color: white;
}
.playlist a {
  font-size: 12px;
  font-weight: bold;
}
.title-playlist  {
  margin-bottom: 10px;
}
/* ASIDE BOTTOM */
.aside-bottom a {
  font-size: 15px;
}
.aside-bottom hr{
  width: calc(100% - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
}
.aside-bottom a:hover {
  color: white;
}
.aside-bottom .fa-user {
  border-radius: 100%;
  border: 1px solid white;
  padding: 5px;
  color: white;
  background-color: grey;
}

/* MAIN CONTENT */

/* UPGRADE BAR */
.upgrade .btn {
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  border: 2px solid white;
  font-size: 12px;
}

/* SECTION MUSIC LIST */
.music-list {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.music-list a {
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
}
.music-list a:hover {
  color: white;
}

.music-list a:hover:after {
  content: '';
  border: 1px solid #ADFF2F;
  display: block;
  width: 30px;
  margin:auto;
}

/* SECTION RECENTLY PLAYED */
.recently_played , .johndoe , .popular-artist {
  margin: 20px 10px;
}
h2 {
  color: white;
}
.img_main_content {
  display: flex;
}

.div_img {
  max-width: calc(100%/6);
  text-align: center;
  position: relative;
}
.div_img:hover .play_hover {
  opacity:1;
}
.div_img:hover img {
  opacity: 0.5;
}
.play_hover {
  opacity: 0;
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.div_img img {
  width: 90%;
  display: block;
  position: relative;
  margin:auto;
}

.layover {
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.div_img h3 {
  color: white;
  font-size: 15px;
  padding: 4px;
}

.div_img p {
  font-weight: bold;
  font-size: 10px;
  color: grey;
}

h6 {
  color: grey;
}

.popular img {
  border-radius: 50%;
}
/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #282828;
  width: 100%;
  height: 80px;
}
.footer-left {
  display: flex;
  margin: 15px;
}
.footer-left img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.nomebrano {
  margin-top: 10px;
}
.footer-left i {
  margin-top: 10px;
  margin-right: 10px;
  color: grey;
}
.footer-left .fa-heart {
  margin-left: 40px;
}

footer h4 {
  color: white;
}

.footer-central .player-top i {
  color: white;
  font-size: 15px;
  margin: 15px;
}

.fa-angle-left {
  border-left: 3px solid white;
}
.fa-angle-right {
  border-right: 3px solid white;
}
.footer-central {
  text-align: center;
}
.line {
  background-color: #5A5A5A;
  height: 5px;
  width: 350px;
  margin: 5px 30px;
  border-radius: 5px;
  position: relative;
}
.player-bottom {
  display: flex;
}
.player-bottom p {
  color: white;
  font-size: 10px;
}
.line-grey {
  background-color: white;
  height: 5px;
  width: 90px;
  position: absolute;
  border-radius: 5px;
}
.line-grey:hover {
  background-color: #ADFF2F;
}
.fa-circle {
  display: none;
  position: absolute;
  font-size: 12px;
  right: -10px;
  top: -3px;
  color: white;
}
.line-grey:hover .fa-circle {
  display: block;
}

/* FOOTER RIGHT */
.footer-right {
  display: flex;
  margin-top: 25px;
}
.small-line {
  background-color: #5A5A5A;
  height: 5px;
  width: 100px;
  margin: 5px 20px;
  border-radius: 5px;
}
.footer-right i {
  margin-left: 15px;
  color: white;
}

 .line-volume {
  width: 30px;
}

.line-volume:hover {
  background-color: #ADFF2F;
}
/* RESPONSIVE */
@media screen and (max-width: 967px){

.img_main_content{
  flex-wrap: wrap;
}
.div_img{
  max-width: calc(100%/4);
  padding: 5px;
  margin-bottom: 20px;
}
footer {
  max-width: 100%;
  flex-wrap: wrap;
}


}
@media screen and (max-width: 768px){
  .div_img{
    max-width: calc(100%/2);
    padding: 5px;
    margin-bottom: 20px;
  }
footer {
  flex-wrap: wrap;
}
}

@media screen and (max-width: 500px){
  footer {
    flex-wrap: wrap;
  }
  .d-none-m{
    display: none;
  }
  aside {
    width:60px;
  }
  .main-content {
    width: 100%;
  }
  .upgrade {
    width: 100%;
  }
  .d-block-m {
    display: block;
  }
  .download {
    margin-bottom: 20px;
  }
  aside i {
    color: white;
  }
  .logo {
    width:auto;
    height: auto;
  }
}
